<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.text_to_speech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="عربي"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Texttospeech"
        android:usesCleartextTraffic="true">
        <activity android:name=".VowelsWord.Singlevowelword"
            android:screenOrientation="portrait"/>
        <activity android:name=".VowelsWord.Yclass"
            android:screenOrientation="portrait"/>
        <activity android:name=".VowelsWord.wawLetter"
            android:screenOrientation="portrait"/>
        <activity android:name=".VowelsWord.Aclass"
            android:screenOrientation="portrait"/>
        <activity android:name=".NUMBERS.SingleNumber"
            android:screenOrientation="portrait"/>
        <activity android:name=".COLORS.SingleColor"
            android:screenOrientation="portrait"/>
        <activity android:name=".NUMBERS.Numbers"
            android:screenOrientation="portrait"/>
        <activity android:name=".COLORS.Colors"
            android:screenOrientation="portrait"/>
        <activity android:name=".WORDS.Words"
            android:screenOrientation="portrait"/>
        <activity android:name=".WORDS.SingleWord"
            android:screenOrientation="portrait"/>
        <activity android:name=".LEVELS.Level2"
            android:screenOrientation="portrait"/>
        <activity android:name=".LEVELS.Level3"
            android:screenOrientation="portrait"/>
        <activity android:name=".PROCESS.Signup"
            android:screenOrientation="portrait"/>
        <activity android:name=".LEVELS.Levels"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.Quiz_alph"
            android:screenOrientation="portrait"/>
        <activity android:name=".ALPHABETS.SingleAlphabet"
            android:screenOrientation="portrait"/>
        <activity android:name=".ALPHABETS.Level1"
            android:screenOrientation="portrait"/>
        <activity android:name=".PROCESS.Login_page"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>